*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    justify-content: center;
}
.container{

    border-style: solid;
    border-width: 5px;
    border-color: brown;
    

}
.logo{
   text-align: center;
  
}
h3{
    text-align: center;
    text-transform:bold;
}
.content{
   margin-left: 50px;
   margin-right: 100px;
   margin-bottom: 50;

}
.student{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(111, 111, 209);


}

